html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      .row
        .col-md-12
          h1 Giraffe Watch

          include partials/alert.pug

          h2 Sign up for a Giraffe Birth Alert!
          p Enter your email address below to be alerted when April begins active labor.

          if subscribeAlert
            .alert(role='alert' class='alert-' + subscribeAlert.type)= subscribeAlert.message

          form(method='post' action='/submit').form-subscribe
            .form-group
              input(type='email' placeholder='Enter Your Email Address' name='email' required).form-control
            .form-group
              button(type='submit').btn.btn-primary.btn-lg Subscribe to Alerts

          script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins(class='adsbygoogle'
               style='display:block'
               data-ad-client='ca-pub-1334887216588590'
               data-ad-slot='1673717137'
               data-ad-format='auto')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});

          h2 What is this?
          p April the Giraffe is pregnant and is expecting any day now. People are <strong>obsessed</strong>. I built this tool to subscribe people to a notification when something worth watching happens.

          h2 How does it work?
          p We rely on our community of over 50,000 giraffe fanatics to let us know when April goes into active labor. To report activity, click one of the 'Report Active Labor' buttons around the site to send us an email.

          include partials/active-labor-button.pug

          p 
            strong We are not affiliated with Animal Adventure Park.

          include partials/donate.pug
          include partials/facebook.pug

      row
        .col-md-12
          include partials/ad.pug

    include partials/footer.pug